@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans&family=Roboto:wght@300;400&family=Tilt+Neon&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
  list-style-type:  none;
  text-decoration: none;
}

.Toastify__toast-body > div:last-child{
  font-family: 'Roboto', sans-serif !important;

}

li,h1,h2,p{
  font-family: 'Roboto', sans-serif !important;
}

.darkShadow{
  box-shadow: 0 1px 3px 0 #e88b71, 0 1px 2px 0 #F4A460;
}
